<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.UserRedundantDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.api.entity.user_redundant_data.UserRedundantData">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="fixed_estimated_amount" property="fixedEstimatedAmount" />
        <result column="fixed_forecast_practical" property="fixedForecastPractical" />
        <result column="fixed_practical" property="fixedPractical" />
        <result column="fixed_surplus" property="fixedSurplus" />
        <result column="flowing_expenditure" property="flowingExpenditure" />
        <result column="flowing_income" property="flowingIncome" />
        <result column="flowing_transfer_accounts" property="flowingTransferAccounts" />
        <result column="flowing_total" property="flowingTotal" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, fixed_estimated_amount, fixed_forecast_practical, fixed_practical, fixed_surplus, flowing_expenditure, flowing_income, flowing_transfer_accounts, flowing_total
    </sql>

</mapper>
