<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forezp.api.mapper.BillSubtableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.forezp.api.entity.bill_subtable.BillSubtable">
        <id column="bill_subtable_id" property="billSubtableId"/>
        <result column="bill_id" property="billId"/>
        <result column="subtable_type_id" property="subtableTypeId"/>
        <result column="subtable_value" property="subtableValue"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bill_subtable_id, bill_id, subtable_type_id, subtable_value
    </sql>


    <resultMap id="selSpecificDateMap" type="com.forezp.api.entity.bill_subtable.BillSubtableSon">
        <id column="bill_subtable_id" property="billSubtableId"/>
        <result column="bill_id" property="billId"/>
        <result column="subtable_type_id" property="subtableTypeId"/>
        <result column="subtable_value" property="subtableValue"/>
    </resultMap>
    <select id="selSpecificDate" resultMap="selSpecificDateMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        bill_subtable
        WHERE
        bill_subtable.subtable_type_id = #{typeId}
        <if test="typeId != 5 and typeId != ''">
            AND bill_subtable.subtable_value LIKE CONCAT("%",#{value},"%")
        </if>
        GROUP BY
        bill_subtable.subtable_value
        ORDER BY
        bill_subtable.subtable_value DESC
        <if test="size != null">
            LIMIT #{size}
        </if>
    </select>
</mapper>
