<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forezp.api.mapper.BillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.forezp.api.entity.bill.Bill">
        <id column="bill_id" property="billId"/>
        <result column="user_id" property="userId"/>
        <result column="bill_type" property="billType"/>
        <result column="money" property="money"/>
        <result column="large_classification_id" property="largeClassificationId"/>
        <result column="small_classification_id" property="smallClassificationId"/>
        <result column="outgoing_wallet_id" property="outgoingWalletId"/>
        <result column="entry_wallet_id" property="entryWalletId"/>
        <result column="bill_time" property="billTime"/>
        <result column="bill_remarks" property="billRemarks"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bill.bill_id, bill.user_id, bill.bill_type, bill.money, bill.large_classification_id, bill.small_classification_id, bill.outgoing_wallet_id,
        bill.entry_wallet_id, bill_time, bill.bill_remarks
    </sql>

    <resultMap id="selBillMap" type="com.forezp.api.entity.bill.BillSon">
        <id column="bill_id" property="billId"/>
        <result column="user_id" property="userId"/>
        <result column="bill_type" property="billType"/>
        <result column="money" property="money"/>
        <result column="large_classification_id" property="largeClassificationId"/>
        <result column="small_classification_id" property="smallClassificationId"/>
        <result column="outgoing_wallet_id" property="outgoingWalletId"/>
        <result column="entry_wallet_id" property="entryWalletId"/>
        <result column="bill_time" property="billTime"/>
        <result column="bill_remarks" property="billRemarks"/>
    </resultMap>

    <select id="selBill" resultMap="selBillMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        bill
        LEFT JOIN bill_subtable ON bill_subtable.bill_id = bill.bill_id
        WHERE
        bill_subtable.subtable_value = #{value}
        ORDER BY
        bill.bill_time DESC
    </select>
</mapper>
