<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forezp.api.mapper.LargeClassificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.forezp.api.entity.large_classification.LargeClassification">
        <id column="sort_number" property="sortNumber" />
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="large_classification_type" property="largeClassificationType" />
        <result column="large_classification_name" property="largeClassificationName" />
        <result column="large_classification_Icon" property="largeClassificationIcon" />
        <result column="accumulated_amount" property="accumulatedAmount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sort_number, user_id, large_classification_type, large_classification_name, large_classification_Icon, accumulated_amount
    </sql>

</mapper>
