<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forezp.api.mapper.SmallClassificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.forezp.api.entity.small_classification.SmallClassification">
        <id column="sort_number" property="sortNumber" />
        <result column="id" property="id" />
        <result column="large_classification_id" property="largeClassificationId" />
        <result column="small_classification_name" property="smallClassificationName" />
        <result column="small_classification_Icon" property="smallClassificationIcon" />
        <result column="accumulated_amount" property="accumulatedAmount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sort_number, large_classification_id, small_classification_name, small_classification_Icon, accumulated_amount
    </sql>

</mapper>
